In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import json

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/CMPE256/Data/yelp_academic_dataset_review.json'

In [ ]:
# path = 'C:/Users/16316/Documents/CMPE 256/Yelp/Data/yelp_academic_dataset_review.json'
global reviews
reviews = []
global business
business = pd.read_csv('/content/drive/MyDrive/CMPE256/Data/CSVfiles/business.csv')

#### Loading user data from Yelp Dataset

In [ ]:
def loadReviewData():
    global reviews
    with open(path, encoding='utf-8') as fin:
        i = 0 
        for line in fin:
            line_contents = json.loads(line)
            reviews.append(line_contents)
    reviews = pd.DataFrame(reviews)
    reviews.shape
    return

#### Writing Processed Reviews data to CSV format

In [ ]:
def filetoCSV():
    reviews.to_csv("/content/drive/MyDrive/CMPE256/Data/CSVfiles/California_reviews_c.csv")

#### Getting California Specific Reviews

In [ ]:
def getCAReviews():
    getUniqueCABusinessIds = business.business_id.unique()
    reviewIds = []
    global reviews
    for i in range(reviews.shape[0]):
        if reviews.business_id[i] in getUniqueCABusinessIds:
            reviewIds.append(i)

    reviews = reviews.iloc[reviewIds,:]
    reviews.index = range(reviews.shape[0])

    yearList = []
    for x in reviews.date:
        yearList.append(eval(x.split('-')[0]))
    reviews['year'] = yearList

In [ ]:
loadReviewData()

In [ ]:
getCAReviews()

In [ ]:
filetoCSV()

In [ ]:
reviews.shape

(239065, 10)

In [ ]:
data_review = pd.read_csv('/content/drive/MyDrive/CMPE256/Data/CSVfiles/California_reviews_c.csv',index_col=0)
data_review.head(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3.0,0,0,0,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06,2016
1,eCiWBf1CJ0Zdv1uVarEhhw,OhECKhQEexFypOMY6kypRw,vC2qm1y3Au5czBtbhc-DNw,4.0,0,0,0,"Yes, this is the only sushi place in town. How...",2013-09-04 03:48:20,2013
2,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,0,0,0,"Great burgers,fries and salad! Burgers have a...",2017-01-02 03:17:34,2017

In [ ]:
data_review = pd.read_csv('/content/drive/MyDrive/CMPE256/Data/CSVfiles/California_reviews_c.csv',index_col=0)
data_review.head(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3.0,0,0,0,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06,2016
1,eCiWBf1CJ0Zdv1uVarEhhw,OhECKhQEexFypOMY6kypRw,vC2qm1y3Au5czBtbhc-DNw,4.0,0,0,0,"Yes, this is the only sushi place in town. How...",2013-09-04 03:48:20,2013
2,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,0,0,0,"Great burgers,fries and salad! Burgers have a...",2017-01-02 03:17:34,2017

In [ ]:
#USERS' FREQUENCIES
data_review.groupby('user_id').count()['business_id'].describe()

count    115258.000000
mean          2.074173
std           4.616937
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max         296.000000
Name: business_id, dtype: float64

In [ ]:
# Load data
data_business = pd.read_csv('/content/drive/MyDrive/CMPE256/Data/CSVfiles/business_categorized.csv',index_col=0)

In [ ]:
data_users = pd.read_csv('/content/drive/MyDrive/CMPE256/Data/CSVfiles/CA_users_c.csv',index_col=0)

In [ ]:
data_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Wine Tours,Steakhouses,Food Trucks,French,Health & Medical,Mediterranean,Drugstores,Farmers Market,Tapas/Small Plates,Automotive
0,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101,34.414445,-119.690672,4.0,389,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,SZU9c8V2GuREDN5KgyHFJw,Santa Barbara Shellfish Company,230 Stearns Wharf,Santa Barbara,CA,93101,34.408715,-119.685019,4.0,2404,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4xhGQGdGqU60BIznBjqnuA,California Tacos and Taproom,956 Embarcadero Del Norte,Isla Vista,CA,93117,34.411555,-119.855077,4.0,49,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ifjluUv4VASwmFqEp8cWlQ,Marty's Pizza,2733 De La Vina St,Santa Barbara,CA,93105,34.436236,-119.726147,4.0,64,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,VeFfrEZ4iWaecrQg6Eq4cg,Cal Taco,"7320 Hollister Ave, Ste 1",Goleta,CA,93117,34.430542,-119.882367,4.0,189,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Merging reviews data with bussiness data

In [ ]:
# create user tag by merging
user_tag = data_review.merge(data_business, left_on='business_id', right_on='business_id')
user_tag.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful', 'funny',
       'cool', 'text', 'date', 'year',
       ...
       'Wine Tours', 'Steakhouses', 'Food Trucks', 'French',
       'Health & Medical', 'Mediterranean', 'Drugstores', 'Farmers Market',
       'Tapas/Small Plates', 'Automotive'],
      dtype='object', length=109)

In [ ]:
user_tag.shape

(239065, 109)

#### Generating User Tag

In [ ]:
dummy = user_tag.groupby('user_id').sum()
dummy.shape

(115258, 71)

In [ ]:
# creating a group by
user_tag2 = user_tag.groupby('user_id').sum().iloc[:,12:]
user_tag2.columns

Index(['American (New)', 'Mexican', 'Coffee & Tea', 'Sandwiches',
       'Breakfast & Brunch', 'American (Traditional)',
       'Event Planning & Services', 'Beer', 'Wine & Spirits', 'Specialty Food',
       'Pizza', 'Arts & Entertainment', 'Bakeries', 'Burgers', 'Seafood',
       'Shopping', 'Wineries', 'Grocery', 'Cafes', 'Italian', 'Delis',
       'Desserts', 'Salad', 'Fast Food', 'Wine Bars', 'Caterers',
       'Cocktail Bars', 'Convenience Stores', 'Ice Cream & Frozen Yogurt',
       'Chinese', 'Hotels & Travel', 'Juice Bars & Smoothies',
       'Wine Tasting Room', 'Japanese', 'Food Delivery Services', 'Vegetarian',
       'Asian Fusion', 'Barbeque', 'Sushi Bars', 'Vegan', 'Tours',
       'Gluten-Free', 'Tacos', 'Local Flavor', 'Health Markets',
       'Chicken Wings', 'Breweries', 'Beer Bar', 'Venues & Event Spaces',
       'Wine Tours', 'Steakhouses', 'Food Trucks', 'French',
       'Health & Medical', 'Mediterranean', 'Drugstores', 'Farmers Market',
       'Tapas/Small Plates', 'Automotive'],
      dtype='object')

In [ ]:
user_tag2.head(5)

,American (New),Mexican,Coffee & Tea,Sandwiches,Breakfast & Brunch,American (Traditional),Event Planning & Services,Beer,Wine & Spirits,Specialty Food,...,Wine Tours,Steakhouses,Food Trucks,French,Health & Medical,Mediterranean,Drugstores,Farmers Market,Tapas/Small Plates,Automotive
user_id,,,,,,,,,,,,,,,,,,,,,
---zemaUC8WeJeWKqS6p9Q,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--17Db1K-KujRuN7hY9Z0Q,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--1M0GJn3SFoXF7R35tszw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
--2F5G5LKt3h2cAXJbZptg,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--2N8l4KAPJlN_a_ANs3Vg,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# creating tags
tag = []
for i in range(user_tag2.shape[0]):
    tmp = user_tag2.iloc[i,:].sort_values(ascending=False)[:2].index.tolist()
    tag.extend(tmp)

#len(set(tag))

tag_all = user_tag2.idxmax(axis=1)
tag_list = list(set(tag_all))
tag_all_df = pd.DataFrame(tag_all).reset_index()

In [ ]:
# updating tags

for tag in tag_list:
    data_users[tag] = 0
for ind,val in enumerate(tag_all):
    row = list(data_users['user_id']).index(tag_all_df['user_id'][ind])
    data_users.loc[row,val] = 1
    
data_users.iloc[:,24:].describe()

# creating outfile

,Local Flavor,American (New),Ice Cream & Frozen Yogurt,Burgers,Chicken Wings,Specialty Food,Mexican,Event Planning & Services,Desserts,Steakhouses,...,Shopping,Cafes,Pizza,Fast Food,Salad,Farmers Market,Japanese,Tapas/Small Plates,Food Delivery Services,American (Traditional)
count,115319.000000,144188.000000,115508.000000,117662.000000,115273.000000,116494.000000,131930.000000,119905.000000,116487.000000,115355.000000,...,115728.000000,115642.000000,117572.000000,115597.000000,115534.000000,115279.000000,117447.000000,115302.000000,115278.000000,120118.000000
mean,0.000616,0.216863,0.002329,0.021791,0.000130,0.011443,0.136504,0.041658,0.011151,0.000884,...,0.004493,0.003597,0.021059,0.003183,0.002623,0.000208,0.020426,0.000408,0.000182,0.044032
std,0.024805,0.412110,0.048202,0.146002,0.011407,0.106357,0.343324,0.199807,0.105010,0.029723,...,0.066882,0.059870,0.143583,0.056333,0.051144,0.014427,0.141454,0.020186,0.013496,0.205166
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### Saving Users Tag data to CSV format

In [ ]:
data_users.to_csv('/content/drive/MyDrive/CMPE256/Data/CSVfiles/California_Users_Tag_c.csv')