In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import json

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
users= []
path = '/content/drive/MyDrive/CMPE256/Data/yelp_academic_dataset_user.json'

###Loading user data from Yelp Dataset

In [5]:
with open(path, encoding = 'utf-8') as fin:
    i = 0 
    for line in fin:
        line_contents = json.loads(line)
        users.append(line_contents)

In [6]:
data_user = pd.DataFrame(users)
data_user.shape

(1987897, 22)

In [7]:
data_user.head(5)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

#### Writing coverted user data to CSV format

In [8]:
data_user.to_csv("users_CA.csv")

In [9]:
data_user.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

#### Reading the California Specific User Reviews

In [10]:
data_review = pd.read_csv('/content/drive/MyDrive/CMPE256/Data/CSVfiles/California_reviews_c.csv',index_col = 0)
data_review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3.0,0,0,0,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06,2016
1,eCiWBf1CJ0Zdv1uVarEhhw,OhECKhQEexFypOMY6kypRw,vC2qm1y3Au5czBtbhc-DNw,4.0,0,0,0,"Yes, this is the only sushi place in town. How...",2013-09-04 03:48:20,2013
2,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,0,0,0,"Great burgers,fries and salad! Burgers have a...",2017-01-02 03:17:34,2017
3,L0jv8c2FbpWSlfNC6bbUEA,bFPdtzu11Oi0f92EAcjqmg,IDtLPgUrqorrpqSLdfMhZQ,5.0,0,0,0,What a great addition to the Funk Zone! Grab ...,2016-10-13 22:50:47,2016
4,4zopEEPqfwm-c_FNpeHZYw,JYYYKt6TdVA4ng9lLcXt_g,SZU9c8V2GuREDN5KgyHFJw,5.0,0,0,0,We were a bit weary about trying the Shellfish...,2016-05-31 02:14:54,2016

In [11]:
data_review = data_review.drop(columns=['text'])

#### Extracting unique California user ids

In [12]:
unique_CA_users = pd.DataFrame({'user_id': data_review.user_id.unique()})
unique_CA_users.head(5)

                  user_id
0  59MxRhNVhU9MYndMkz0wtw
1  OhECKhQEexFypOMY6kypRw
2  4hBhtCSgoxkrFgHa4YAD-w
3  bFPdtzu11Oi0f92EAcjqmg
4  JYYYKt6TdVA4ng9lLcXt_g

#### Merging CA unique user ids with Yelp user data

In [13]:
d2 = data_user
intersected_df = d2.merge(unique_CA_users, how='left', on=['user_id'], indicator=True)
intersected_df.head(5)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,_merge
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,55,56,18,232,844,467,467,239,180,both
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,184,157,251,1847,7054,3131,3131,1521,1946,left_only
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,10,17,3,66,96,119,119,35,18,left_only
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,1,6,2,12,16,26,26,10,9,both
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,0,0,0,1,1,0,0,0,0,left_only

In [14]:
user_df = intersected_df.loc[intersected_df['_merge'] == 'both']
user_df.shape

(115258, 23)

In [15]:
user_df = user_df.replace(r'^\s*$', np.nan, regex=True)
user_df

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,_merge
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,55,56,18,232,844,467,467,239,180,both
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,1,6,2,12,16,26,26,10,9,both
5,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1221,2005-03-14 20:26:35,14953,9940,11211,"2006,2007,2008,2009,2010,2011,2012,2013,2014","xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...",1357,...,191,361,147,1212,5696,2543,2543,815,323,both
10,iYzhPPqnrjJkg1JHZyMhzA,Chris,4,2010-11-03 18:59:20,1,0,1,NaN,"Vq4Pc81l6MWTnc-h41YE-Q, ArMLZPW4GljwhopfoQA-uw...",1,...,0,0,0,0,0,0,0,0,0,both
18,QF1Kuhs8iwLWANNZxebTow,Catherine,607,2009-04-27 20:25:54,4573,3714,4149,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","dLts9bY66tXEFqYG03YFgw, SYDGMC7d5NnMiT1l_WQq5A...",131,...,68,29,23,144,407,808,808,587,723,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987867,Y4QbfsRktpJr2eygVRqe7w,Janet,6,2015-06-20 03:44:00,3,0,1,NaN,None,0,...,0,0,0,0,0,0,0,0,0,both
1987868,Ml7Yh0WhJVZapqZ19Fsr2g,Kelli,2,2017-04-22 22:37:56,0,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,both
1987869,xzt22UaBjy40CHgCjJ3Fgg,Don,7,2009-05-19 20:42:33,1,0,1,NaN,None,0,...,0,0,0,0,0,0,0,0,0,both
1987874,Pt3u_iZV4Lo--4yfYsBhGg,Jordan,5,2013-07-13 23:58:30,2,1,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,both
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,0,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,both

In [16]:
user_df.isnull().sum()

user_id                    0
name                       0
review_count               0
yelping_since              0
useful                     0
funny                      0
cool                       0
elite                 103649
friends                    0
fans                       0
average_stars              0
compliment_hot             0
compliment_more            0
compliment_profile         0
compliment_cute            0
compliment_list            0
compliment_note            0
compliment_plain           0
compliment_cool            0
compliment_funny           0
compliment_writer          0
compliment_photos          0
_merge                     0
dtype: int64

#### Creating Is_elite column for users

In [17]:
user_df['is_elite'] = ~np.array(user_df.elite.isnull())
user_df.is_elite.describe()

count     115258
unique         2
top        False
freq      103649
Name: is_elite, dtype: object

#### Adding User's Joining year in Yelp

In [18]:
# get the year
user_joining_year = [eval(x.split('-')[0]) for x in user_df.yelping_since]
user_df['year'] = user_joining_year
user_df = user_df.drop(columns=['_merge'])

#### Exporting final user data to CSV format

In [19]:
user_df.to_csv("/content/drive/MyDrive/CMPE256/Data/CSVfiles/CA_users_c.csv")